h1 = @item.title
-if @item.primary_image.attached?
  div = image_tag(@item.primary_image)
-if @item.supported_images.attached?
  h2 Others
  -(0...@item.supported_images.count).each do |f|
    div = image_tag(@item.supported_images[f])
hr
h2 = "Categories"
div
  - @item.category.each do |f|
    p = "#{f.title}"
hr
h3 = "Description"
div = @item.description
hr
h3 = "Stock"
div  = @item.stock
hr
h3 = "Price"
hr
div = @item.price
div = link_to 'Back', homes_path