h1 = @fish.title
-if @fish.primary_image.attached?
  div = image_tag(@fish.primary_image)
-if @fish.supported_images.attached?
  h2 Others
  -(0...@fish.supported_images.count).each do |f|
    div = image_tag(@fish.supported_images[f])
hr
h2 = "Categories"
div
  - @fish.category.each do |f|
    p = "#{f.title}"
hr
h3 = "Description"
div = @fish.description
hr
h3 = "Stock"
div  = @fish.stock
hr
h3 = "Price"
hr
div = @fish.price
div = link_to 'Back', homes_path